*{
	margin: 0px;
	padding: 0px;
	
}
body{
background: url("../img/4A.jpeg");	/*Direitos da foto:https:https://www.ihads.com.br/*/
background-position: 50% 70%;
}
input{
	 display:block;
     height: 55px;
	 width: 400px;
     margin:10px;
     border-radius: 30px;
     border:1px solid ;
     font-size:16pt;
	 padding: 10px 20px;
	 background-color: rgba(255,255,255,0.01);
	 color: white;
	 outline: none;
	}

div#corpo-form{
	
    width:450px;
    margin: 100px  auto 0px auto;
	
}
div#corpo-form-Cad{

     width:450px;
     margin: 100px  auto 0px auto;	
} 
div#corpo-form h1, div#corpo-form-Cad h1{
	text-align: center;
	padding: 15px;
	color:white;
	}
	a{
	 color: white;
       text-decoration: none;
        text-align: center;
         display:block;		
	   font-family:arial;
	   padding:15px;
	}
	
	a:hover{
	    text-decoration: underline;
  	    color:#ff7e00;
	}
	
	input[type=submit]{
		background-color:#ff7e00;
		border: none;
		cursor: pointer;
		text-decoration:none;

	}
     input[type=submit]:hover{
		
		background-color:#ff7e00e3;
	}
	input[type=sub]{
		background-color:#3b5998;
		border: none;
		cursor: pointer;
		text-align: center;
		text-decoration:none;

	}
	
	
	::-webkit-input-placeholder { 
	   color:white;
	}
	 :-moz-input-placeholder{
       color: white;
	}
     ::-moz-input-placeholder{
       color: white;
	}
      :-ms-input-placeholder{
       color: white;
	}	

div#msg-sucesso{
 width:420px;
  margin: 5px auto;
  padding: 10px;
  background-color:#08fb4cde;
 color:white;
 font-family:arial;
 text-align:center;
 border-radius:30px;
 margin-top:2px;
 
 }
div.msg-erro{
width:420px;
 margin: 5px auto;
 padding: 10px;
 background-color:#ff0000c7;
 color:white;
 font-family:arial;
 text-align:center;
 border-radius:30px;

 }
div.msg-er{
width:420px;
 margin: 10px auto;
 padding: 20px;
 background-color:#191919e0;
}
#rodape{
width:1000x;
height:40px;
background-color:#121212db;
text-align:center;
font-size:25px;
color:white;	
margin-top:1000px;
clear:both;
font-family:arial;
}

#menu ul{
margin: 0;
background-color:#191919e0;	
list-style: none;
 text-align: right;

}
#menu ul li{	
 display:inline;
  

 }
#menu ul li a{

display:inline-block;
color:white;
text-decoration: none; 
font-size:18px;
 margin: 10px;
  
}
#menu ul li a:hover{
text-decoration-style: solid;
  	    color:#808080;
  	     text-align: right;
}		