*{
	margin: 0px;
	padding: 0px;
	
}
body{

}
input{
	 display:block;
     height: 55px;
	 width: 400px;
     margin:10px;
     border:1px solid ;
     font-size:16pt;
	 padding: 10px 20px;
	 background-color: rgba(255,255,255,0.01);
	 color: white;
	 outline: none;
	}

div#corpo-form{
	
    width:450px;
    margin: 100px  auto 0px auto;
	
}
div#corpo-form-Cad{

     width:420px;
     margin: 100px  auto 0px auto;	
} 
div#corpo-form h1, div#corpo-form-Cad h1{
	text-align: center;
	padding: 10px;
	}
	a{
	 color: white;
       text-decoration: none;
        text-align: center;
         display:block;		
	   font-family:arial;
	   text-align: right;
	   font-size: 15;
	}
a:hover{
	    text-decoration: underline;
  	    color:
	}
	
	input[type=submit]{
		background-color:#808080;
		border: none;
		cursor: pointer;
		text-decoration:none;

	}
	}
     input[type=submit]:hover{
		
		background-color:#FFFFFF;
	}
	input[type=button]{
		background-color:rgba(0,0,0,0.5)
		border: none;
		cursor: pointer;
		text-align: center;
		text-decoration:none;

	}
	
	
	::-webkit-input-placeholder { 
	   color:#FFFFFF;
	}
	 :-moz-input-placeholder{
       color: #FFFFFF;
	}
     ::-moz-input-placeholder{
       color: #FFFFFF;
	}
      :-ms-input-placeholder{
       color: #FFFFFF;
	}	

div#msg-sucesso{
 width:420px;
  margin: 5px auto;
  padding: 10px;
  background-color:#000000;
 color:#000000;
 font-family:arial;
 text-align:center;
 border-radius:30px;
 margin-top:2px;
 
 }
div.msg-erro{
width:420px;
 margin: 5px auto;
 padding: 10px;
 background-color:#000000;
 color:#000000;
 font-family:arial;
 text-align:center;
 border-radius:30px;
 font-size:25px;
 }
div.msg-er{
width:420px;
 margin: 10px auto;
 padding: 20px;
 border-radius: 12px;
background-color: rgba(0,0,0,0.5)
text-align:center;

font-size:30px;
 }
#rodape{
width:1000x;
height:40px;
background-color:#000000;
text-align:center;
font-size:10px;
color:#000000;	
margin-top:1000px;
clear:both;

}

#menu ul{
margin: 0;
background-color:#808080;	
list-style: none;
 text-align: right;

}
#menu ul li{	
 display:inline;
  

 }
#menu ul li a{

display:inline-block;
color:white;
text-decoration: none; 
font-size:18px;
 margin: 10px;
  
}
#menu ul li a:hover{
text-decoration-style: solid;
  	    color:;
  	     text-align: right;
}			