

#menu ul{
margin: 0;
background-color:#191919e0;	
list-style: none;
 text-align: right;

}
#menu ul li{	
 display:inline;
  

 }
#menu ul li a{

display:inline-block;
color:white;
text-decoration: none; 
font-size:18px;
 margin: 10px;
  
}
#menu ul li a:hover{
text-decoration-style: solid;
  	    color:#808080;
  	     text-align: right;
}			